<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicon.ico"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <title>CodyEdu</title>

    </head>

    <body>
        <!--======================================== Boton ir arriba ========================================-->
        <i class="btn-up bi bi-arrow-up-circle-fill hidden-xs"></i>
    
        <main>
            <!--======================================== Boton ir arriba ========================================-->
            <i class="btn-up fa fa-arrow-circle-o-up hidden-xs"></i>

            <div class="index-banner-container py-5" style="background-image: url(assets/img/0.0.0.png);height: 100%">

                <div class="container">

                    <div class="row">
                        <section class="col pt-5 index-lema-container">
                            <section class="index-lema">
                                <h2><b>Aprende</b>
                                <br>facil y rapido<br> <b>desde casa</b>
                                </h2>
                            </section>
                            <section>
                                <a href="./registro" class="btn btn-primary mb-3 mb-sm-0 mr-md-3">Registrarme</a>
                                <a href="./iniciarsesion" class="btn btn-primary">Iniciar sesión</a>
                            </section>
                        </section>
                        <section class="col">
                            <img src="assets/img/logoCod2.png" alt="Logo" id="logoIndex" width="100%">
                        </section>
                    </div>

                </div>

            </div>
            
            <section class="full-reset index-fondo-info font-cover" style="background-image: url(assets/img/font-index3.jpg);height: 85%">
                <div class="full-reset index-info" style="width: 100%; background-color: rgba(255,255,255,.6);">
                    
                    <h1 align="CENTER" >¿Qué es CodyEdu?</h1>
                    <hr width="80%">
                    <p>Personal del Centro de Integración juvenil unidad Cuauhtémoc recién egresado de la Universidad 
                        Pedagógica Nacional, lleva a cabo cursos multidisciplinarios con niños y jóvenes los cuales por motivos
                        de la pandemia cuya llegada fue en 2019, estos cursos no pueden ser llevvados de manera precensial,
                        esta problematica trajo consigo la busqueda de la automatización de procesos, aquí es donde llega 
                        <b>CodyEdu</b> una aplicación web que permite la implementación de cursos desde el hogar.
                    </p>

                </div>
            </section>
            <div class="container cards-container">
                <h1 align="CENTER" class="mb-5">Cursos que a los que puedes acceder:</h1>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card mb-5 mx-5 mx-md-0 px-0 ">
                            <img src="/assets/img/actividad.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Inscribir curso</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                            <img src="/assets/img/actividadb.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Inscribir curso</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card  mb-5 mx-5 mx-md-0 px-0 ">
                            <img src="/assets/img/actividadc.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Inscribir curso</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card mx-5 mx-md-0 px-0">
                            <img src="/assets/img/actividadd.jpg" class="card-img-top" alt="Imagen Actividad">
                            <div class="card-body px-4">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Inscribir curso</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="carouselExampleDark" class="carousel carousel-dark slide index-carousel" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/assets/img/cocarousel.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Conecta con tus profesores</h5>
                      <p>Manten una comunicación efectiva con tus profesores desde la distancia</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="/assets/img/cocarouselb.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Estudia diversos temas</h5>
                      <p>Aprende sin alejarte de casa con los mejores expertos</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/cocarouselc.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Estudia a tu ritmo</h5>
                      <p>Cursos gratuitos al alcance de un click</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <div class="container">
                <section class="text-center important-links-index" id="cont1-5">
                    <h1 class="text-center">Sitios y enlaces extras</h1>
                
                    <a href="https://www.rae.es/obras-academicas/gramatica" class="open-link-newTab">
                        <i class="fa fa-book"></i>
                        <p>RAE</p>
                    </a>
                
                
                
                    <a href="https://educrea.cl/10-consejos-mejorar-la-ortografia/" class="open-link-newTab">
                        <i class="fa fa-graduation-cap"></i>
                        <p>Ortografia</p>
                    </a>
                
                    <a href="https://www.superprof.mx/blog/aprender-a-escribir-mejor-en-espanol/" class="open-link-newTab">
                        <i class="fa fa-pencil"></i>
                        <p>Escribir mejor</p>
                    </a>
                
                    <a href="https://vhlblog.vistahigherlearning.com/importancia-de-la-gramatica.html" class="open-link-newTab">
                        <i class="fa fa-file-text-o"></i>
                        <p>Gramatica</p>
                    </a>
                
                    <a href="https://www.importancia.org/ortografia.php" class="open-link-newTab">
                        <i class="fa fa-globe"></i>
                        <p>Importancia</p>
                    </a>
                </section>
              </div>
        </main>

        <footer>
            <div class="full-reset" style="padding: 15px 0;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4" style="text-align: center;">
                            <h4 class="titles subtitles-footer" style="color: #ffffff;">Tambien puedes visitar:</h4>
                            <ul class="list-unstyled links-footer">
                                <li><a href="/nosotros"><i class="fa fa-users" ></i> &nbsp; Sobre nosotros</a></li>
                                <li style="text-align: center"><a href="https://dionisiosatiro.github.io/4IV8_Proyecto_Aula_Equipo6_Codyrep/" class="open-link-newTab"><i class="fa fa-github"></i> &nbsp; CODYREP</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <h4 class="titles text-center" style="color: white">Contactenos</h4>
                            <p class="text-center" style="color: white">Correo Electrónico: codificate32@gmail.com</p>
                        </div>
                        <div class="col-xs-12 col-sm-4" >
                            <h4 class="titles subtitles-footer" style="color: #ffffff;">Siguenos en</h4>
                            <ul class="list-unstyled links-footer">
                                <li><a href="https://m.facebook.com/profile.php?id=100069448171792" class="open-link-newTab"><i class="fa fa-facebook"></i> &nbsp; Facebook</a></li>
                                <li><a href="https://twitter.com/Codificate2" class="open-link-newTab"><i class="fa fa-twitter"></i> &nbsp; Twitter</a></li>
                                <li><a href="https://instagram.com/codificate32?utm_medium=copy_link" class="open-link-newTab"><i class="fa fa-instagram"></i> &nbsp; Instagram</a></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="full-reset footer-copyright"><i class="fa fa-copyright"></i>Codificate 2021</div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

        <header class="header-main d-block d-lg-none d-xl-none">

            <nav class="navbar navbar-light fixed-top navbar-mobile">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#" style="color: #ffffff;">
                        <span class=" navList"  ID="codyeduHead" style="color: #ffffff">
                            <img src="assets/img/logoCodSolo.png" alt="Logo" style="height: 40px;">
                            CODYEDU
                        </span>
                    </a>
                  <button class="menu-mobile" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                            <span class=" navList"  ID="codyeduHead" style="color: #0A50C9">
                                <img src="assets/img/logoCodSolo.png" alt="Logo" style="height: 40px;">
                                CODYEDU
                            </span>
                      </h5>
                      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house"></i>Inicio</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="./iniciarsesion"><i class="bi bi-card-checklist"></i>Educacion</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="./iniciarsesion"><i class="bi bi-journals"></i>Actividades</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="./iniciarsesion"><i class="bi bi-person"></i>Cuenta</a>
                        </li>
                      </ul>
                      <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar Cursos" aria-label="Search" style="height: 40px; border-radius: 40px;">
                        <button class="btn btn-outline-success" type="submit" style="color: #ffffff;">Buscar</button>
                      </form>
                    </div>
                  </div>
                </div>
              </nav>

        </header>

        <header class="header-main d-none d-lg-block d-xl-block">
            <div class="container">

                <div class="row">
                    <div class="col-2">
                        <a href="#" style="color: #ffffff;">
                            <span class=" navList mx-0 px-0"  ID="codyeduHead" style="color: #ffffff">
                                <img src="assets/img/logoCodSolo.png" alt="Logo" style="height: 40px;">
                                CODYEDU
                            </span>
                        </a>
                    </div>
                      <!--======================================== Links de navegación ========================================-->
                      <nav class="col navbar navbar-expand-lg navigation" id="navHead">
                        <ul class="list-unstyled navbar-nav">
                          <li class="nav-item"><a class="nav-link header-icon" href="/"><i class="bi bi-house"></i>Inicio</a></li>
                          <li class="nav-item"><a class="nav-link header-icon" href="./iniciarsesion"><i class="bi bi-card-checklist"></i>Educación</a></li>
                          <li class="nav-item"><a class="nav-link header-icon"  href="./iniciarsesion"><i class="bi bi-journals"></i>Cursos</a></li>
                          <li class="nav-item"><a class="nav-link header-icon" href="./iniciarsesion"><i class="bi bi-person"></i>Ususario</a></li>
                        </ul>
                      </nav>

                      <form class="col-4 d-flex index-buscar-pc">
                        <input class="form-control me-2" type="search" placeholder="Buscar Cursos" aria-label="Search" style="height: 40px; border-radius: 40px;">
                        <button class="btn btn-outline-success" type="submit" style="color: #ffffff; height: 40px;">Buscar</button>
                      </form>
                </div>
    
            </div>

        </header>
        
        <script src="/js/jquery.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>

    </body>

</html>